@import "./material";

// current theme styles (dark or light)

// get variables from current theme (dark or light)
$primary: map-get($main-theme, primary);
$accent: map-get($main-theme, accent);
$warn: map-get($main-theme, warn);
$foreground: map-get($main-theme, foreground);
$background: map-get($main-theme, background);

// set custom variables
$muted: mat-color($foreground, secondary-text);
$muted-strong: mat-color($foreground, disabled-text);
$background-lighter: mat-color($background, background) !important;
$background-darker: mat-color($background, status-bar) !important;

$outerSpace: #424651;
$independece: rgb(74, 78, 105);
$romanSilver: #848c8e;
$glitter: #e7ecef;
$babyPowder: #fbfefb;

html {
  font-size: 16px;
  font-family: $mainFontFamily;
}

.muted {
  color: $muted;
}

.primary {
  color: mat-color($primary);
}

.accent {
  color: mat-color($accent);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.nav {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  &__item {
    height: 100%;
    align-items: center; // vertical align
    display: flex;
  }
  &__icon {
    height: 100%;
    flex: 0 0 60px;
    min-width: 60px;
    display: flex;
    align-items: center; // vertical align
    justify-content: center; // horizontal align
    padding-right: 5px;
  }
  &__text {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center; // vertical align
    justify-content: start; // horizontal align
    padding-right: 10px;
  }
}

.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  @include lt-md {
    height: 40px;
  }
  background-color: rgba(mat-color($background, background), 0.8);
  padding: 0 20px;
  &__item {
    padding: 0 15px;
  }
}

.nav_type_header {
  flex-direction: row;
  .nav {
    &__item {
      padding: 0 5px;
      flex: 1 1 auto;
      color: mat-color($primary);
      &:hover {
        color: mat-color($primary, 900);
      }
      &_active {
        color: mat-color($primary, 300);
      }
    }
  }
}

.aside {
  position: fixed;
  height: 100vh;
  &__nav {
    height: 100%;
    background-color: rgba(mat-color($background, background), 0.8);
  }
  &__button {
    padding: 0 3px;
    height: 40px;
    background-color: rgba(mat-color($background, background), 0.9);
    display: flex;
    align-items: center; // vertical align
    justify-content: center; // horizontal align
    @include transition(height 1s);
    @include radius(0 5px 5px 0);
    &_popup {
      height: 100%;
      @include radius(0);
    }
  }
}

.nav {
  justify-content: center;
  &_type_aside {
    flex-direction: column;
    width: 0;
    padding: 100px 0;
    @include transition(width 1s);
    overflow: hidden;
    .nav {
      &__item {
        flex: 1 1 auto;
        max-height: 70px;
        color: mat-color($primary);
        &:hover {
          color: mat-color($primary, 900);
        }
        &_active {
          color: mat-color($primary, 300);
        }
      }
    }
  }
  &_popup {
    width: 200px;
  }
}

.homepage {
  &__section {
    padding: 70px 100px 0 100px;
    min-height: 100vh;
    background-color: $background-lighter;
    &:nth-child(even) {
      background-color: $background-darker;
    }
    &_start {
      background: url("/assets/logo.jpg") center center / cover no-repeat #fff;
    }
  }
}

.gallery {
  &__item {
    padding: 2rem;
    &_size_small {
      max-height: 40vh;
    }
    &_size_big {
      max-height: 70vh;
    }
  }
  &__image {
    // width: auto;

  }
}

.responsive-image {
  height: 100%;
  width: auto;
}
