@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400|Montserrat:300,400|Roboto:300,400&subset=cyrillic');
@import './mixins';

$mainFontFamily: "Roboto, sans-serif";
$custom-typography: mat-typography-config($font-family: $mainFontFamily);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

html, body, p {
    padding: 0;
    margin: 0;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}



nav {

    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0, .4);

    .logo {
        padding: 0 15px;
    }
    
    ul {
        list-style: none;
        padding-inline-start: 0;
        text-align: center;
        li {
            padding: 0 5px;

        }
    }
}

main section {
    height: 100vh;
    background-color: bisque;
    &:nth-child(odd) {
        background-color: azure;
    }
}

.activeSection {
    color: red;
}