<nav class="top" fxLayout="row" fxLayoutAlign="center center">
  <div class="logo" fxFlex="20">Logo</div>
  <div fxFlex></div>

  <ul fxFlex="50" fxLayout="row">
    <li *ngFor="let section of sections; let i = index;" class="mat-body-1 cursor-pointer"
      [ngClass]="{'activeSection': scrolledSection === i}" fxFlex fxLayout="row"
      (click)="scrollTo('section' + i)">
      <div class="nav-icon">
        <span><i [class]="section.icon"></i></span> 
      </div>
      <a>{{section.name}}</a>
    </li>
  </ul>
</nav>



<main>

    <!-- <nav class="side">
        <ul fxFlex="50" fxLayout="column">
            <li *ngFor="let section of sections; let i = index;" class="mat-body-1 cursor-pointer"
              [ngClass]="{'activeSection': scrolledSection === i}" fxFlex fxLayout="row"
              (click)="scrollTo('section' + i)">
              <div class="nav-icon">
                <span><i [class]="section.icon"></i></span> 
              </div>
              <a>{{section.name}}</a>
            </li>
          </ul>
    </nav> -->

  <section *ngFor="let section of sections; let i = index;" 
    appScrolling (scrollSection)="onScrollSection(i)"
    [ngStyle]="{'background': section.background, 'height': section.height }"
    [attr.id]="'section' + i" [innerHTML]="section.innerHTML">

  </section>
</main>

<footer></footer>