<header class="header" fxLayout="row">
  <!-- <header class="header" fxLayout="row" fxLayoutAlign="center center"> -->
  <div class="header__item header__item_logo" fxFlex.gt-sm="20" fxFlex.lt-md="100" fxLayoutAlign="start center"
    fxLayoutAlign.lt-md="end center">Logo</div>
  <div fxFlex fxHide.lt-md></div>
  <nav class="header__item header__item_nav" fxFlex.gt-sm="70" fxHide.lt-md>
    <ul class="nav nav_type_header">
      <li class="nav__item mat-body-1 cursor-pointer" *ngFor="let section of sections; let i = index;"
        [ngClass]="{'nav__item_active': scrolledSection === i}" (click)="scrollTo('section' + i)">
        <span class="nav__icon">
          <i [class]="section.icon"></i>
        </span>
        <span class="nav__text">
          {{section.name}}
        </span>
      </li>
    </ul>
  </nav>
</header>

<aside class="aside" fxHide.gt-sm fxLayout="row" (click)="switchPopup()" (mouseenter)="showPopup(true)"
  (mouseleave)="showPopup(false)">
  <nav class="aside__nav" fxFlex="calc(100%-16px)">
    <ul class="nav nav_type_aside" [ngClass]="{'nav_popup': isAsidePopup}">
      <li class="nav__item mat-body-1 cursor-pointer" *ngFor="let section of sections; let i = index;"
        [ngClass]="{'nav__item_active': scrolledSection === i}" (click)="scrollTo('section' + i)">
        <span class="nav__icon">
          <i [class]="section.icon"></i>
        </span>
        <span class="nav__text">
          {{section.name}}
        </span>
      </li>
    </ul>
  </nav>
  <div class="aside__button" fxFlex="16px" fxFlexAlign="center"
   [ngClass]="{'aside__button_popup': isAsidePopup}">
    <span>
      <i class="fas" [ngClass]="asideButtonClass"></i>
    </span>
  </div>
</aside>

<main>
  <!-- <section *ngFor="let section of sections; let i = index;" appScrolling (scrollSection)="onScrollSection(i)"
    [ngStyle]="{'background': section.background, 'height': section.height }" [attr.id]="'section' + i"
    [innerHTML]="section.innerHTML">
  </section> -->

  <section id='section0' appScrolling (scrollSection)="onScrollSection(0)">
    <h1 class="mat-display-2">About</h1><p class="mat-body-1">Some text about</p>
  </section>
  <section id='section1' appScrolling (scrollSection)="onScrollSection(1)">
    <h1 class="mat-display-2">Projects</h1><p class="mat-body-1">Some text about</p>
  </section>
  <section id='section2' appScrolling (scrollSection)="onScrollSection(2)">
    <h1 class="mat-display-2">Portfolio</h1><p class="mat-body-1">Some text about</p>
  </section>
  <section id='section3' appScrolling (scrollSection)="onScrollSection(3)">
    <h1 class="mat-display-2">Contacts</h1><p class="mat-body-1">Some text about</p>
  </section>
</main>

<footer></footer>